In [ ]:
import pandas as pd
df=pd.read_csv("Регистрация на мероприятие (Ответы) - Ответы на форму (1) (1).csv")
dg=pd.read_csv("city_202112241519.csv")

In [ ]:
df.head(6)

      Отметка времени    Страна  ...    Доля трат    Корреляция
0  23.12.2021 0:31:27    Россия  ...  16,66666667  0,3015844751
1  23.12.2021 0:32:03    Россия  ...  23,07692308           NaN
2  23.12.2021 0:32:43  Германия  ...   11,3372093           NaN
3  23.12.2021 0:33:46    Греция  ...  12,38938053           NaN
4  23.12.2021 0:34:53    Италия  ...  15,94202899           NaN
5  23.12.2021 0:35:32    Россия  ...  22,22222222           NaN

[6 rows x 20 columns]

In [ ]:
dg.head(8)

     id    name  population
0  1447  Dublin      481854
1  2974   Paris     2125246
2  3068  Berlin     3386667
3  3520   Minsk     1674000
4  3525   Brest      286000
5  3580  Moscow     8389200
6  3587   Kazan     1101000

In [ ]:
ddf = df.merge(dg, left_on='Sity', right_on='name', how='inner')
ddf[['Страна','population']].groupby(['Страна']).mean()

          population
Страна
Беларусь     1674000
Германия     3386667
Ирландия      481854
Минск         286000
Россия       4745100
Франция      2125246